<div class="user-details">
</div>
<img alt="Hello!" src="https://joostvan.github.io/pf/assets/img/headshot.png" height="60" />
<div class="user">
    <p>Looking for the next adventure! I am graduating from the University of Pennsylvania with my Masters and Bachelors in Physics in May 2021. Feel free to reach out for my resume</p>
    <h1> Focus Areas </h1>
    <p> {{site.user_description}} </p>
</div>
<div class="user">
    <div class="tech">
        <h2>Design</h2>
        <i class="devicon-html5-plain-wordmark"></i>
        <i class="devicon-bootstrap-plain-wordmark colored"></i>
        <i class="devicon-css3-plain-wordmark colored"></i>
        <p></p>
    </div>
    <div class="tech">
        <h2>Code</h2>
        <i class="devicon-python-plain-wordmark colored"></i>
        <i class="devicon-java-plain-wordmark colored"></i>
        <i class="devicon-swift-plain-wordmark colored"></i>
        <p></p>
    </div>
    <div class="tech">
        <h2>Tools</h2>
        <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
        <i class="devicon-git-plain"></i>
        <p></p>
    </div>
</div>
<br>
<div class="user">
    <div class="tech">
        <h2>Data / Machine Learning Stack</h2>
        <img alt="Tensorflow" src="https://joostvan.github.io/pf/assets/img/tensorflow-logo.png " height="60" />
        <img alt="hadoop" src="https://joostvan.github.io/pf/assets/img/hadooop.png " height="60" />
        <img alt="spark" src="https://joostvan.github.io/pf/assets/img/spark.png " height="60" />
        <img alt="sql" src="https://joostvan.github.io/pf/assets/img/sql.png" height="60" />
        <p></p>
    </div>
    <div class="tech">
        <h2>Improving Myself With:</h2>
        <i class="devicon-cplusplus-plain colored"></i>
        <i class="devicon-javascript-plain colored"></i>
        <i class="devicon-react-original-wordmark colored"></i>
        <i class="devicon-nodejs-plain-wordmark"></i>
        <p></p>
    </div>
</div>