<div class="user-details">
    <h1> Courses </h1>
</div>
<div class="user-coursework">
    <div class="images-right">
        <img alt="UPenn" src="https://branding.web-resources.upenn.edu/sites/default/files/UniversityofPennsylvania_FullLogo_RGB_0.png" height="100" />
    </div>
    <div class="contents">
        <ul>
            <li> Machine Learning Theory </li>
            <li> General Relativity</li>
            <li> Quantum Field Theory</li>
            <li> Statistical Mechanics</li>
            <li> Particle Physics </li>
            <li> Advanced Solid State Physics</li>
            <li> Math of Finance & Modelling</li>
        </ul>
    </div>
</div>