<div class="user-details">
    <h1> Featured Experiences </h1>
</div>
<div class="user-experiences">
    <div class="images-right">
        <a href=https://www.sapient.industries>
            <img alt=" mountains " src="https://joostvan.github.io/pf/assets/img/sapient.jpg " />
        </a>
    </div>
    <div class="contents ">
        <h3> Software Engineer Intern </h3>
        <ul>
            <li> Created a full-stack application using Dash to refine terabytes of data and visualize trends in energy metrics </li>
            <li> Learned and applied Bayesian statistics using PyMC3 </li>
            <li> Code reviews & git control</li>
            <br>
            <br>
            <br>
            <br>
        </ul>
    </div>
</div>
<div class="user-experiences ">
    <div class="images-left ">
        <img alt="mountains " src="https://joostvan.github.io/pf/assets/img/ictp.jpg " />
    </div>
    <div class="contents-right ">
        <h3> International Center for Theoretical Physics, Research Assistant </h3>
        <ul>
            <li> Directed machine learning and deep learning models to understand big astrophysics datasets </li>
            <li> Advised theorists and peers while investigating Baryon Acoustic Oscillations </li>
        </ul>
    </div>
</div>