<div class="user-details">
    <h1> Featured Projects </h1>
</div>
<div class="user-projects">
    <div class="images-right">
        <img alt="Gadget" src="https://joostvan.github.io/pf/assets/img/gadgetvelocities.jpg " height="500" width="500" />
    </div>
    <div class=" contents ">
        <h3> Thesis Research </h3>
        <h4> Featured Skills</h4>
        <ul>
            <li>N-Body Simulations (Gadget)</li>
            <li>Initial Condition Simulation (N-GenIC)</li>
            <li>Gaussian Statistics</li>
            <li>C++ / C </li>
            <li>N-Body Simulations</li>
        </ul>
        <a class="project-link " href="https://joostvan.github.io/stat_cosmo/ ">Check it out</a>
    </div>
</div>
<div class="user-projects ">
    <div class="images-left ">
        <img alt="Crunch " src="https://joostvan.github.io/pf/assets/img/crunch.png" />
    </div>
    <div class="contents-right ">
        <h3> Crunch </h3>
        <p>Full stack development of Crunch, the world’s first AR and ML powered nutrition app, and I was selected as a Semi-Finalist for the PennVention competition (top third of 120 applicants).</p>
        <h4> Featured Skills</h4>
        <ul>
            <li> Swift </li>
            <li> ARKit </li>
            <li> MLKit </li>
            <li> Point Cloud </li>
        </ul>

        <a class="project-link " href="https://trycrunch.today/ ">Check it out</a>
    </div>
</div>
<div class="user-projects ">
    <div class="images-right ">
        <img alt="Gadget " src="https://joostvan.github.io/pf/assets/img/gadgetvelocities.jpg " />
    </div>
    <div class="contents ">
        <h3> Lonely Universe</h3>
        <p>Created a Full Stack development of ML Nearest Neighbor recommendation system of 110,000 stars to pair one that matches characteristics</p>
        <h4> Featured Skills</h4>
        <ul>
            <li>Python</li>
            <li>Flask</li>
            <li>Nearest Neighbors</li>
            <li>data set of 150,000 stars</li>
        </ul>
        <a class="project-link " href="http://www.lonely-universe.com/ ">Check it out</a>
    </div>
</div>