<div class="user-details">
    <h1> Featured Projects </h1>
</div>
<div class="user-projects">
    <div class="images-right">
        <img alt="Gadget" src="https://joostvan.github.io/pf/assets/img/gadgetvelocities.jpg " />
    </div>
    <div class="contents ">
        <h3> Thesis Research </h3>
        <h4> Featured Skills</h4>
        <ul>
            <li>N-Body Simulations (Gadget)</li>
            <li>Initial Condition Simulation (N-GenIC)</li>
            <li>Gaussian Statistics</li>
            <li>C++ / C </li>
            <li>N-Body Simulations</li>
        </ul>
        <a class="project-link" href="https://joostvan.github.io/stat_cosmo/">Check it out</a>
    </div>
</div>
<div class="user-projects ">
    <div class="images-left ">
        <img alt="mountains " src="{{ " /assets/img/skate.jpg " | prepend: site.baseurl }} " />
    </div>
    <div class="contents-right ">
        <h3> Lonely Universe </h3>
        <ul>
            <li> Featured Skills</li>
        </ul>
        <p>Full stack development of Crunch, the world’s first AR and ML powered nutrition app, and I was selected as a Semi-Finalist for the PennVention competition (top third of 120 applicants).</p>
        <a class="project-link" href="#">Check it out</a>
    </div>
</div>